@charset "UTF-8";

@font-face{
  font-family:'Norwester';
	src: url('../fonts/norwester.otf');
}

html, body {
  margin: 0;
  padding: 0;
  background: #000;
  height: 100%;
  width: 100%;
  overflow: hidden;
  transition: 300ms filter;
  font-family: "Norwester", "Open Sans Light", sans-serif;
  color: #fff;
  /*font-family: "Open Sans Light", sans-serif;*/
}

* {
  font-family: inherit;
}
